<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinsaye.decisionmaker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_decider"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DecisionMakerScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DecisionMakerScreen2"
            android:label="DecisionMaker" >
        </activity>
        <activity
            android:name=".DecisionMakerScreen3"
            android:label="@string/title_activity_activity_loading" >
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoinToss"
            android:label="@string/title_activity_coin_toss" >
        </activity>
        <activity
            android:name=".Dice"
            android:label="@string/title_activity_dice" >
        </activity>
    </application>

</manifest>
